langchain==0.2.6
openai
huggingface_hub
python-dotenv
streamlit
PyPDF2
langchain-google-genai
langchain-community==0.0.28
langchain_google_genai==1.0.7
google-generativeai
python-dotenv


